body {
	overflow: hidden;
	background: #444;
}

#toolbar {
	z-index: 3;
	position: absolute;
	background: #222;
}

#sidebar {
	right: 0;
	z-index: 2;
	position: absolute;
	background: #999;
}

#viewport {
	left: 0;
	z-index: 1;
	position: absolute;
	background: #666;
}
